<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
</head>
<body>
<h1>Customer Contact List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Message</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.message}"></td>
        <td th:text="${customer.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
