<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">
<head>

    <title>Hello World - input Form</title>
</head>
<body>

<form th:action="@{/processFormVersionTwo}" method="GET">

    <input type="text" name="customername"
           placeholder="What İs your Name"/>

    <input type="text" name="email"
           placeholder="What İs your Email"/>

    <input type="text" name="message"
           placeholder="What İs your message"/>

    <input type="submit" />

</form>

</body>
</html>
