<!--<!DOCTYPE HTML>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>

    <title>Thymeleaf Demo</title>

     <link rel="stylesheet"
            th:href=@"/css/demo.css"/ >-->
    <!--CSS BAĞLANTISINI BURADAKİ LİNK SAYESİNDE GERÇEKLEŞTİRİYORUZ-->


<!--
</head>
<body>
    <p th:text="Time on the server is + ${theDate}" class="funny"/> -->
<!--
Hello World of Spring

<br><br>

Student Name: <span th:text="${param.studentName}"/>

</body>
</html>
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">
<head>
    <title>Thymeleaf Demo</title>
</head>
<body>
Hello World of Spring
<br>
Student Name: <span th:text="${param.studentName}"></span> <!-- buradaki studentName form dosyasının ismi -->
<br>
The Message:<span th:text="${message}"/>
</body>
</html>
